<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aelbish Shrestha" />
    <meta
      name="description"
      content="Start your fitness journey and find your fitness community through Fitness Finder."
    />
    <meta
      property="og:image"
      content="https://img.icons8.com/fluent/50/000000/sports-mode.png"
    />
    <meta
      property="og:description"
      content="Start your fitness journey and find your fitness community through Fitness Finder."
    />
    <meta property="og:title" content="Fitness Finder" />
    <link
      rel="icon"
      href="https://img.icons8.com/fluent/50/000000/sports-mode.png"
    />
    <title>Fitness Finder</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/workoutCard.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/scroller.css" />
    <script
      src="https://cdn.tiny.cloud/1/<%=process.env.TINYMCE_KEY%>/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar.ejs") %>
    <main class="container mt-5">
      <%- include("../partials/flash.ejs") %><%- body %>
    </main>
    <%- include("../partials/footer.ejs") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Load the `mapbox-gl-geocoder` plugin. -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
      type="text/css"
    />

    <!-- Promise polyfill script is required -->
    <!-- to use Mapbox GL Geocoder in IE 11. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="/javascripts/validateForms.js"></script>
  </body>
</html>
